<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <!-- insert my own image -->
    <img src="assets/images/propic.jpeg" height="90" width="90" style="border-radius: 50%" />

    <span>{{ title }} app is running!</span>

    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632"
      viewBox="0 0 516.119 1083.632">
      <title>Rocket Ship Smoke</title>
      <path id="Path_40" data-name="Path 40"
        d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
        transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
    </svg>
  </div>

  <!-- Next Steps -->
  <h2>Different demos</h2>

  <input type="hidden" #selection />

  <div class="card-container">
    <div class="card card-small" tabindex="0" routerLink="/rxjs-demo" routerLinkActive="active">
      <span>Super Basic Subscription</span>
    </div>

    <div class="card card-small" tabindex="0" routerLink="/fake-console" routerLinkActive="active">
      <span>An impossible conversation?</span>
    </div>
    <!-- <div class="card card-small" tabindex="0" routerLink="/rxjs-demo" routerLinkActive="active">
      <span>Subject/Multiple Observable</span>
    </div> -->
  </div>

  <!-- Terminal -->
  <!-- <div class="terminal" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>ng generate component xyz</pre>
    <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
    <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
    <pre *ngSwitchCase="'dependency'">ng add _____</pre>
    <pre *ngSwitchCase="'test'">ng test</pre>
    <pre *ngSwitchCase="'build'">ng build --prod</pre>
  </div> -->
</div>